body{
    background-color: #570A57;
    text-align: center;
}
.buttS{
    border: solid 2px black;
    width: 200px;
    height: 40px;
}
h1{
    font-family: "Rajdhani";
    font-size: 120px;
    color: #FFE59D;
    margin-top: 20px;
    margin-bottom: 15px;
}
h2{
    color: #FFE59D;
}

.buttonArea{
    padding: 20px;
}
.butt1, .butt2, .butt3, .butt4{
    border: solid 8px black;
    width: 180px;
    height: 180px;
    margin: 20px;
    border-radius: 40px;
}
a{
    font-size: 30px;
}
.butt1{
    background-color: red;
}
.butt2{
    background-color: blue;
}
.butt3{
    background-color: green;
}
.butt4{
    background-color: yellow;
}
#footer{
    text-align: left;
    color: #fff;
    margin-top: 40px;
}

.invisible{
    opacity: 0;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
.game-over{
    background-color: red;
    opacity: 0.8;
}
